header {
    position: absolute;
    font-family: "Aboreto", system-ui;
    font-weight: 400;
    font-style: normal;
    background-color: #073B4C;
    text-align: center;
    color: #FFD166;
    height: 80px;
    width: 100%;
    left: 0px;
    padding: 5px;
    top: 0px;
}

footer{
    position: fixed;
    background-color: #073B4C;
    text-align: center;
    color: #FFD166;
    height: 60px;
    width: 100%;
    padding-top: 20px;
    bottom: 0px;
    left: 0px;
}

body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    background-color: #06D6A0;
    text-align: center;
    color: #FFD166;
    margin-top: 100px;
    margin-bottom: 100px;
}

h1 {
    font-size: 45px;
    color: #FFD166;
    font-family: "Luckiest Guy", cursive;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}

h2 {
    color: #FFD166;
    font-family: "Luckiest Guy", cursive;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    margin-top: 20px; 
    margin-bottom: 0px;
}

p{
    background-color: #EF476F;
    padding: 20px;
    text-align: left;
    border-radius: 5px;
    text-shadow: none;
}

form {
    display: block;
    margin: 20px;
}

.artist {
    display: inline-block;
    margin: 5px;
    text-align: center;
    transition: transform .2s;
}

.artist:hover{
    transform: scale(1.3);
}

img {
    object-fit: cover;
    width: 150px;
    height: 150px;
    border-radius: 10px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow:0 0 0 2px #073B4C;
}

button {
    padding: 10px 20px;
    background-color: #EF476F;
    color: #FFD166;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #FFD166;
    color:#EF476F;
}